<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header"> <a class="navbar-brand" href="#/"><!--i class="material-icons md-dark">arrow_back</i--> <img src="images/logo.png" class="face pull-left"> <p>I.V.A</p></a> </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><i class="glyphicon glyphicon-off" ng-click="logout();"></i></li> -->
            </ul>
        </div>
    </div>
</div>
<toast class="toast"></toast>
<div class="middle" scroll-glue="{{glued}}">
    <div class="row" ng-csp ng-show="showFirstMessage">
        <ul>
            <li>
                <div class="chat_bubble">
                    <div class="left_bubble">
                        <div>
                            <div class="value">
                                <p>{{ firstMessage }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row" ng-repeat="message in room.messages">
        <ul>
            <li>
                <div class="chat_bubble">
                    <div ng-class="{left_bubble: message.sender=='user', right_bubble: message.sender=='agent'}">
                        <div ng-if="message.category == 1">
                            <!-- code to render text -->
                            <div class="value">
                                <p>{{message.msg}}</p>
                            </div>
                            <div class="time">
                                <p>{{message.created_at | date: 'h:mm a'}}</p>
                            </div>
                        </div>
                        <div ng-if="message.category == 2" class="card_wrapper">
                            <!-- code to render payment -->
                            <div ng-repeat="card in message.msg" class="card_main">
                                <div class="search_card">
                                    <div class="heading text-center"> {{ card.msg }} </div>
                                    <div class="flight_details">
                                        <div class="flight_body">
                                            <div class="flight_left"> <img ng-src="{{ card.image_url }}" class="airline_icon"> </div>
                                            <div class="flight_middle">
                                                <h3 class="airport_code">{{ card.onwards.origin }}</h3> <span class="airport_code_separator"> > </span>
                                                <h3 class="airport_code">{{ card.onwards.destination }}</h3> </div>
                                            <div class="flight_right">
                                                <div class="take_off"> <i class="material-icons">flight_takeoff</i> <span class="time">{{ card.onwards.deptime }}</span> </div>
                                                <div class="landing"> <i class="material-icons">flight_land</i> <span class="time">{{ card.onwards.arrtime }}</span> </div>
                                            </div>
                                        </div>
                                        <div class="flight_footer">
                                            <div class="flight_left text-center"> <span class="airline_code">{{ card.onwards.carriers + " " + card.onwards.flightno }}</span> </div>
                                            <div class="flight_middle"> <span class="currency">Rs.</span>
                                                <h3 class="price">{{ card.onwards.fare }}</h3> </div>
                                            <div class="flight_right">
                                                <div class="date"> <span>{{ getArrDate(card.onwards.arrdate) }}</span> </div>
                                                <div class="duration"> <span>{{ card.onwards.duration }} mins</span> </div>
                                            </div>
                                        </div>
                                        <hr ng-show="card.returns.origin">
                                        <div class="flight_body" ng-show="card.returns.origin">
                                            <div class="flight_left"> <img ng-src="{{ card.image_url }}" class="airline_icon"> </div>
                                            <div class="flight_middle">
                                                <h3 class="airport_code">{{ card.returns.origin }}</h3> <span class="airport_code_separator"> > </span>
                                                <h3 class="airport_code">{{ card.returns.destination }}</h3> </div>
                                            <div class="flight_right">
                                                <div class="take_off"> <i class="material-icons">flight_takeoff</i> <span class="time">{{ card.returns.deptime }}</span> </div>
                                                <div class="landing"> <i class="material-icons">flight_land</i> <span class="time">{{ card.returns.arrtime }}</span> </div>
                                            </div>
                                        </div>
                                        <div class="flight_footer" ng-show="card.returns.origin">
                                            <div class="flight_left text-center"> <span class="airline_code">{{ card.returns.carriers + " " + card.returns.flightno }}</span> </div>
                                            <div class="flight_middle"> <span class="currency">Rs.</span>
                                                <h3 class="price">{{ card.returns.fare }}</h3> </div>
                                            <div class="flight_right">
                                                <div class="date"> <span>{{ getArrDate(card.returns.arrdate) }}</span> </div>
                                                <div class="duration"> <span>{{ card.returns.duration }} mins</span> </div>
                                            </div>
                                        </div>
                                        <div class="flight_action">
                                            <!-- <div class="flight_left">
                            <a href="">View Details</a>
                          </div> -->
                                            <div class="flight_right"> <a class="btn btn-primary btn-paytm">Pay via Paytm</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Onwards -->
                                <!-- Add code here for return -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="thinking" ng-show="showThinkingText">
        <p>{{ thinkingText }}</p>
    </div>
    <form>
        <input type="text" ng-model="inputMessage" class="form-control pull-left inputMessage" name="message" placeholder="Chat with IVA to search for flights" ng-enter="sendMessage()" ng-class="{error: inputError}">
        <a class="glyphicon glyphicon-send btn-send pull-right" ng-click="sendMessage()"></a>
    </form>
</div>
