<?xml version="1.0" encoding="UTF-8" ?>

<widget id="com.shaleen.supergenie" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Supergenie</name>
    <description>
        A supergenie ticket booking app.
    </description>
    <author email="shaleengarg.in@gmail.com" href="">
        Supergenie Team
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <access origin="*"/>
    <access origin="http://staging.supergenie.co" subdomains="true"/>
</widget>
